<!-- partial:partials/head.html -->
<!-- partial -->
<div class="uk-container">
    <h1>Alert</h1>
    <div uk-alert>
        <a href="#" class="uk-alert-close" uk-close></a>
        <p><strong>Alert!</strong> Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="uk-alert-primary" uk-alert>
        <a href="#" class="uk-alert-close" uk-close></a>
        <p><strong>Primary!</strong> Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="uk-alert-success" uk-alert>
        <a href="#" class="uk-alert-close" uk-close></a>
        <p><strong>Success!</strong> Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="uk-alert-warning" uk-alert>
        <a href="#" class="uk-alert-close" uk-close></a>
        <p><strong>Warning!</strong> Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="uk-alert-danger" uk-alert>
        <a href="#" class="uk-alert-close" uk-close></a>
        <p><strong>Danger!</strong> Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <h2>More Content</h2>
    <div uk-alert>
        <button class="uk-alert-close" type="button" uk-close></button>
        <h3>Alert!</h3>
        <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="uk-alert-primary" uk-alert>
        <button class="uk-alert-close" type="button" uk-close></button>
        <h3>Primary!</h3>
        <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="uk-alert-success" uk-alert>
        <button class="uk-alert-close" type="button" uk-close></button>
        <h3>Success!</h3>
        <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="uk-alert-warning" uk-alert>
        <button class="uk-alert-close" type="button" uk-close></button>
        <h3>Warning!</h3>
        <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="uk-alert-danger" uk-alert>
        <button class="uk-alert-close" type="button" uk-close></button>
        <h3>Danger!</h3>
        <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <h2>Animations</h2>
    <div uk-alert="animation: uk-animation-scale-up; duration:1000">
        <a href="#" class="uk-alert-close" uk-close></a>
        <p><strong>Alert!</strong> Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="uk-alert-primary" uk-alert="animation: uk-animation-scale-down">
        <a href="#" class="uk-alert-close" uk-close></a>
        <p><strong>Primary!</strong> Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <h2>JavaScript Options</h2>
    <div class="uk-overflow-auto">
        <table class="uk-table uk-table-striped">
            <thead>
                <tr>
                    <th>Option</th>
                    <th>Value</th>
                    <th>Default</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>animation</code></td>
                    <td>Boolean|String</td>
                    <td>true</td>
                    <td>On close fade out or use given animation.</td>
                </tr>
                <tr>
                    <td><code>duration</code></td>
                    <td>Number</td>
                    <td>150</td>
                    <td>The animation duration.</td>
                </tr>
                <tr>
                    <td><code>sel-close</code></td>
                    <td>CSS selector</td>
                    <td>.uk-alert-close</td>
                    <td>The close trigger element.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- partial:partials/footer.html -->
<!-- partial -->