<!-- partial:partials/head.html -->
<!-- partial -->
<div class="uk-container">
  <h1>Background</h1>
  <h2>Color, Position, No Repeat, Image</h2>
  <div class="uk-child-width-1-4" uk-grid>
    <div>
      <div class="uk-background-norepeat uk-background-image@s uk-background-default uk-background-top-left uk-padding uk-flex uk-flex-center uk-flex-middle uk-text-center" style="background-image: url('images/photo.jpg'); background-size: 60px 40px;">Default<br>Top Left<br>S</div>
    </div>
    <div>
      <div class="uk-background-norepeat uk-background-image@m uk-background-muted uk-background-top-right uk-padding uk-flex uk-flex-center uk-flex-middle uk-text-center" style="background-image: url('images/photo.jpg'); background-size: 60px 40px;">Muted<br>Top Right<br>M</div>
    </div>
    <div>
      <div class="uk-background-norepeat uk-background-image@l uk-background-primary uk-background-bottom-left uk-padding uk-flex uk-flex-center uk-flex-middle uk-text-center" style="background-image: url('images/photo.jpg'); background-size: 60px 40px;">Primary<br>Bottom Left<br>L</div>
    </div>
    <div>
      <div class="uk-background-norepeat uk-background-image@xl uk-background-secondary uk-background-bottom-right uk-padding uk-flex uk-flex-center uk-flex-middle uk-text-center" style="background-image: url('images/photo.jpg'); background-size: 60px 40px;">Secondary<br>Bottom Right<br>XL</div>
    </div>
  </div>
  <h2>Cover</h2>
  <div class="uk-child-width-1-2@s" uk-grid>
    <div>
      <div class="uk-background-cover uk-flex uk-flex-center uk-flex-middle uk-light" style="height: 300px; background-image: url('images/photo.jpg');">
        <h1 class="uk-heading-large">Fixed Height</h1>
      </div>
    </div>
    <div>
      <div class="uk-background-cover uk-position-relative uk-light" style="background-image: url('images/photo.jpg');">
        <img class="uk-invisible" src="images/photo.jpg" alt="">
        <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle">
          <h1>Responsive Height</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- partial:partials/footer.html -->
<!-- partial -->