<!-- partial:partials/head.html -->
<!-- partial -->

        <div class="uk-container">

            <div uk-grid>
                <div class="uk-width-2-3@m">

                    <h1>This is a H1 heading</h1>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>

                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>

                    <h2>This is a H2 heading</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>

                    <pre>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</pre>

                    <p>This is preformatted text with a code element.</p>

<pre><code>// Code example
&lt;div id="myid" class="myclass" hidden&gt;
    Lorem ipsum &lt;strong&gt;dolor&lt;/strong&gt; sit amet, consectetur adipiscing elit.
&lt;/div&gt;</code></pre>

                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <h3>This is a H3 heading</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>

                    <blockquote>This is a short block quote — look Ma, no paragraph tags!</blockquote>

                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>

                    <h4>This is a H4 heading</h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>

                    <blockquote cite="#">
                        <p class="uk-margin-small-bottom">The blockquote element represents content that is quoted from another source, optionally with a citation which must be within a footer or cite element.</p>
                        <footer>Someone famous in <cite><a href="">Source Title</a></cite></footer>
                    </blockquote>

                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>

                    <h5>This is a H5 heading</h5>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>

                    <hr>

                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>

                    <h6>This is a H6 heading</h6>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>

                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>

                    <hr>

                    <h1>This is a H1 heading<br>with some more text</h1>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <h2>This is a H2 heading<br>with some more text</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <h3>This is a H3 heading<br>with some more text</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <h4>This is a H4 heading<br>with some more text</h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <h5>This is a H5 heading<br>with some more text</h5>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <h6>This is a H6 heading<br>with some more text</h6>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                </div>
                <div class="uk-width-1-3@m">

                    <h3>Text-level semantics</h3>

                    <ul class="uk-list">
                        <li>The <a href="#">a element</a> example</li>
                        <li>The <abbr>abbr element</abbr> and <abbr title="Title text">abbr element with title</abbr> examples</li>
                        <li>The <b>b element</b> example</li>
                        <li>The <cite>cite element</cite> example</li>
                        <li>The <code>code element</code> example</li>
                        <li>The <del>del element</del> example</li>
                        <li>The <dfn>dfn element</dfn> and <dfn title="Title text">dfn element with title</dfn> examples</li>
                        <li>The <em>em element</em> example</li>
                        <li>The <i>i element</i> example</li>
                        <li>The img element <img src="" alt=""> example</li>
                        <li>The <ins>ins element</ins> example</li>
                        <li>The <kbd>kbd element</kbd> example</li>
                        <li>The <mark>mark element</mark> example</li>
                        <li>The <q>q element <q>inside</q> a q element</q> example</li>
                        <li>The <s>s element</s> example</li>
                        <li>The <samp>samp element</samp> example</li>
                        <li>The <small>small element</small> example</li>
                        <li>The <span>span element</span> example</li>
                        <li>The <strong>strong element</strong> example</li>
                        <li>The <sub>sub element</sub> example</li>
                        <li>The <sup>sup element</sup> example</li>
                        <li>The <u>u element</u> example</li>
                        <li>The <var>var element</var> example</li>
                    </ul>

                    <address>
                        The address element.<br>
                        <a href="#">John Doe</a><br>
                        somewhere, world
                    </address>

                    <hr>

                    <h3>Figure</h3>

                    <figure>
                        <img src="images/photo.jpg" alt="">
                        <figcaption>Figcaption content</figcaption>
                    </figure>

                    <hr>

                    <h3>Unordered List</h3>

                    <ul>
                        <li>list item</li>
                        <li>list item
                            <ul>
                                <li>list item</li>
                                <li>list item
                                    <ul>
                                        <li>list item</li>
                                        <li>list item</li>
                                    </ul>
                                </li>
                                <li>list item</li>
                                <li>list item</li>
                            </ul>
                        </li>
                        <li>list item</li>
                        <li>list item</li>
                    </ul>

                    <h3>Ordered List</h3>

                    <ol>
                        <li>list item</li>
                        <li>list item
                            <ol>
                                <li>list item</li>
                                <li>list item
                                    <ol>
                                        <li>list item</li>
                                        <li>list item</li>
                                    </ol>
                                </li>
                                <li>list item</li>
                                <li>list item</li>
                            </ol>
                        </li>
                        <li>list item</li>
                        <li>list item</li>
                    </ol>

                    <h3>Description list</h3>

                    <dl>
                        <dt>Description name</dt>
                        <dd>Description value</dd>
                        <dt>Description name</dt>
                        <dd>Description value</dd>
                        <dd>Description value</dd>
                        <dt>Description name</dt>
                        <dt>Description name</dt>
                        <dd>Description value</dd>
                    </dl>

                    <h3>Responsiveness</h3>

                    <div class="uk-grid-small uk-child-width-1-4" uk-grid>
                        <figure>

                            <img width="1800" height="1200" src="images/photo.jpg" alt="">
                            <figcaption>Image</figcaption>

                        </figure>
                        <figure>

                            <svg width="180" height="120" viewBox="0 0 180 120">
                                <rect x="0" y="0" width="180" height="10" />
                                <rect x="0" y="55" width="180" height="10" />
                                <rect x="0" y="110" width="180" height="10" />
                            </svg>
                            <figcaption>SVG</figcaption>

                        </figure>
                        <figure>

                            <canvas width="1800" height="1200" style="background: #f0f0f0;"></canvas>
                            <figcaption>Canvas</figcaption>

                        </figure>
                        <figure>

                            <video src="https://yootheme.com/site/images/media/yootheme-pro.mp4"></video>
                            <figcaption>Video</figcaption>

                        </figure>
                    </div>

                    <h3>Audio</h3>

                    <audio controls src="https://interactive-examples.mdn.mozilla.net/media/examples/t-rex-roar.mp3"></audio>

                </div>
            </div>

        </div>

<!-- partial:partials/footer.html -->
<!-- partial -->