<!-- partial:partials/head.html -->
<!-- partial -->
<div class="uk-container">
    <h1>Breadcrumb</h1>
    <ul class="uk-breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Blog</a></li>
        <li class="uk-disabled"><a>Category</a></li>
        <li><span>Span</span></li>
    </ul>
    <ul class="uk-breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Blog</a></li>
        <li class="uk-disabled"><a>Category</a></li>
        <li class="uk-disabled"><a>Link</a></li>
    </ul>
    <ul class="uk-breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Category</a></li>
    </ul>
</div>
<!-- partial:partials/footer.html -->
<!-- partial -->