<!-- partial:partials/head.html -->
<!-- partial -->
<div class="uk-container">
    <h1>Close</h1>
    <p>
        <a href="#" uk-close></a> Link<br>
        <button type="button" uk-close></button> Button
    </p>
    <p>
        <a class="uk-close-large" href="#" uk-close></a> Link<br>
        <button class="uk-close-large" type="button" uk-close></button> Button
    </p>
</div>
<!-- partial:partials/footer.html -->
<!-- partial -->